---
layout: default
banner:
  - bg: ../images/sidewalk-banner.jpg
    title: Cascadia Urban
    title2: Analytics Cooperative
    tagline1: Regionally focused research in responsible urban data science  
    tagline2: A joint initiative between Microsoft, the University of Washington, and the University of British Columbia
    caption: OSM Pedestrian Networks for Seattle and Vancouver 
works:
  - title: Urban Data Science for Social Good
    link_to: dssg.html
    desc: 
  - title: Smart Cities Research
    link_to: http://urbanalytics.uw.edu
    desc:
  - title: Transportation Data Collaborative
    link_to: transportation_data.html
    desc:
  - title: Cruising Traffic Analysis
    link_to: cruising.html
    desc:
  - title: Neighborhood Research Collective
    link_to: neighborhood_research.html
    desc:
  - title: ORCA Data Project
    link_to: orca.html
    desc:
  - title: Equity Modeler
    link_to: equity_modeler.html
    desc:
  - title: Avenues of Change - Early Child Education Project
    link_to: education.html
    desc:
  - title: BC Tourism Inventory Project
    link_to: tourism.html
    desc:
  - title: Open Data for Public Transportation Analysis Project
    link_to: surrey_transit.html
    desc:
    
people:
  - avatar: images/people/bill-howe.jpg
    name: Bill Howe
    position: University of Washington
    desc: Director Urbanalytics Studio; Faculty, iSchool; Associate Director, eScience Institute 
    socials:
      - link: https://faculty.washington.edu/billhowe/
        icon: fa fa-globe
      - link: mailto:billhowe@uw.edu
        icon: fa fa-envelope
  - avatar: images/people/raymond-ng.jpg
    name: Raymond Ng
    position: University of British Columbia
    desc: Faculty, Computer Science; Director, Data Science Institute; Chief Informatics Officer, PROOF
    socials:
      - link: https://www.cs.ubc.ca/~rng/
        icon: fa fa-globe
      - link: mailto:rng@cs.ubc.ca 
        icon: fa fa-envelope
  - avatar: images/people/jonathan-fink.png
    name: Jonathan Fink
    position: University of British Columbia
    desc: Visiting Professor, Earth Ocean and Atmospheric Sciences &amp; Office of the Vice President Research
    socials:
      - link: https://www.cs.ubc.ca/~rng/
        icon: fa fa-globe
      - link: mailto:jon.fink@ubc.ca 
        icon: fa fa-envelope
  - avatar: images/people/thaisa-way.jpg
    name: Thaisa Way
    position: University of Washington
    desc: Director, Urban@UW; Faculty, College of Built Environments 
    socials:
      - link: http://www.thaisaway.com/
        icon: fa fa-globe
      - link: mailto:tway@uw.edu 
        icon: fa fa-envelope
  - avatar: images/people/kevin-lin.jpg
    name: Kevin Lin
    position: University of British Columbia
    desc: Research Administrator, Data Science Institute
    socials:
      - link: https://directory.ubc.ca/index.cfm?d=%403I%3E%3CR_*%23J%5CB_FYUS%3ENW2!9%5C5QMR%5E0%3D3)!TSBSD_G00H%20%0A
        icon: fa fa-globe
      - link: mailto:kevin.lin@ubc.ca 
        icon: fa fa-envelope
  - avatar: images/people/sarah-stone.jpg
    name: Sarah Stone
    position: University of Washington
    desc: Executive Director, eScience Institute
    socials:
      - link: http://escience.washington.edu/people/sarah-stone/
        icon: fa fa-globe
      - link: mailto:manager@escience.washington.edu 
        icon: fa fa-envelope
  - avatar: images/people/jen-davison.jpg
    name: Jen Davison
    position: University of Washington
    desc: Program Manager, Urban@UW
    socials:
      - link: https://www.linkedin.com/in/jenniferdavison
        icon: fa fa-globe
      - link: mailto:urbanuw@uw.edu
        icon: fa fa-envelope
  - avatar: images/people/emily-keller.png
    name: Emily F. Keller
    position: University of Washington
    desc: Program Manager, Urbanalytics, Information School    
    socials:
      - link: https://ischool.uw.edu/people/staff/efkeller
        icon: fa fa-globe
      - link: mailto:efkeller@uw.edu
        icon: fa fa-envelope

affiliates:
  - avatar: images/people/affiliates/martino_tran.jpg
    name: Martino Tran
    desc: Assistant Professor, Community and Regional Planning, UBC
  - avatar: images/people/affiliates/carolyn_taylor.jpg
    name: Carolyn Taylor
    desc: Senior Statistical Consultant, Department of Statistics, UBC
    socials:
      - link: http://asda.stat.ubc.ca
        icon: fa fa-globe    
      - link: http://twitter.com/AsdaUBC
        icon: fa fa-twitter
  - avatar: images/people/affiliates/michael_brauer.jpg
    name: Michael Brauer
    desc: Professor, School of Population and Public Health, UBC
    socials:
      - link: http://spph.ubc.ca
        icon: fa fa-globe
  - avatar: images/people/affiliates/brittany_fiore-gartland.jpg
    name: Brittany Fiore-Gartland
    desc: Director of Data Science Ethnography, eScience Institute, UW
    socials:
      - link: http://www.fioregartland.org
        icon: fa fa-globe    
      - link: http://twitter.com/brittafiore
        icon: fa fa-twitter
  - avatar: images/people/affiliates/kim_mcgrail.jpg
    name: Kim McGrail
    desc: Associate Professor, School of Population and Public Health, UBC
    socials:
      - link: https://www.popdata.bc.ca/
        icon: fa fa-globe    
      - link: http://twitter.com/kimchspr
        icon: fa fa-twitter
  - avatar: images/people/affiliates/brian_brooke.jpg
    name: Brian Brooke
    desc: Senior Manager, Innovation and Performance, Sound Transit
    socials:
      - link: http://www.soundtransit.org
        icon: fa fa-globe    
      - link: http://twitter.com/pestardus
        icon: fa fa-twitter
  - avatar: images/people/affiliates/uba_backonja.jpg
    name: Uba Backonja
    desc: Assistant Professor in Nursing and Healthcare Leadership, UW Tacoma
    socials:
      - link: http://bime.uw.edu/faculty/uba-backonja/
        icon: fa fa-globe
      - link: http://directory.tacoma.uw.edu/employee/backonja
        icon: fa fa-globe    
  - avatar: images/people/affiliates/ariel_rokem.jpg
    name: Ariel Rokem
    desc: Senior Data Scientist, eScience Institute, UW
    socials:
      - link: http://arokem.org/
        icon: fa fa-globe
      - link: http://twitter.com/arokem
        icon: fa fa-twitter 
  - avatar: images/people/affiliates/jan_whittington.png
    name: Jan Whittington
    desc: Associate Professor, Department of Urban Design and Planning, UW
    socials:
      - link: http://urbdp.be.washington.edu/people/jan-whittington/
        icon: fa fa-globe    
      - link: https://blogs.uw.edu/urbanlab/
        icon: fa fa-globe           
  - avatar: images/people/affiliates/karey_shumansky.jpg
    name: Karey Shumansky
    desc: Senior Statistical Consultant, Department of Statistics, UBC
    socials:
      - link: http://asda.stat.ubc.ca
        icon: fa fa-globe    
      - link: http://twitter.com/etownbetty
        icon: fa fa-twitter
  - avatar: images/people/affiliates/graham_thompson.jpg
    name: Graham Thompson
    desc: Seattle Civic Tech Manager, Microsoft
    socials: 
      - link: http://twitter.com/grahamthompson
        icon: fa fa-twitter
  - avatar: images/people/affiliates/jeff_ban.png
    name: Xuegang (Jeff) Ban
    desc: Associate Professor, Civil and Environmental Engineering, UW
    socials:
      - link: https://www.ce.washington.edu/people/faculty/banx
        icon: fa fa-globe 
  - avatar: images/people/affiliates/james_mccafferty.jpg
    name: James McCafferty
    desc: Director, Center for Economic and Business  Research, Western Washington University
    socials:
      - link: https://cbe.wwu.edu/cebr/center-economic-and-business-research
        icon: fa fa-globe   
  - avatar: images/people/affiliates/tim_thomas.jpg
    name: Tim Thomas
    desc: Moore/Sloan Postdoctoral Fellow in Data Science, eScience Institute, UW
    socials:
      - link: http://www.timothyathomas.com/ 
        icon: fa fa-globe
      - link: http://twitter.com/timthomas
        icon: fa fa-twitter
  - avatar: images/people/affiliates/leanne_currie.png
    name: Leanne Currie
    desc: Associate Professor, Nursing, UBC
    socials:
      - link: https://nursing.ubc.ca/our-people/leanne-m-currie
        icon: fa fa-globe      
  - avatar: images/people/affiliates/mark_hallenbeck.jpg
    name: Mark Hallenbeck
    desc: Director, Washington State Transportation Center, UW
    socials:
      - link: https://www.washington.edu/research/research-centers/washington-state-transportation-center-trac/ 
        icon: fa fa-globe
  - avatar: images/people/affiliates/penny_gurstein.jpg
    name: Penny Gurstein
    desc: Professor, School of Community and Regional Planning, UBC
    socials:
      - link: http://www.scarp.ubc.ca 
        icon: fa fa-globe
  - avatar: images/people/affiliates/margot_young.jpg
    name: Margot Young
    desc: Professor, Allard School of Law, UBC
    socials:
      - link: http://twitter.com/MargotYoung3
        icon: fa fa-twitter
  - avatar: images/people/affiliates/nathanael_lauster.jpg
    name: Nathanael Lauster
    desc: Associate Professor, Sociology Department, UBC
    socials:
      - link: http://www.soci.ubc.ca/persons/nathanael-lauster  
        icon: fa fa-globe
      - link: http://twitter.com/lausterna
        icon: fa fa-twitter
  - avatar: images/people/affiliates/kent_foster.jpg
    name: Kent Foster
    desc: University Relations Lead, Technology & Civic Engagement, Microsoft
    socials:
      - link: https://www.linkedin.com/in/kentfoster 
        icon: fa fa-globe
      - link: http://twitter.com/kentfoster
        icon: fa fa-twitter
  - avatar: images/people/affiliates/kivan_polimis.jpg
    name: Kivan Polimis
    desc: Program Coordinator, Data Science for Social Good, UW
    socials:
      - link: http://kivanpolimis.com
        icon: fa fa-globe
      - link: http://twitter.com/kpolimis
        icon: fa fa-twitter
  - avatar: images/people/jess-hamilton.jpg
    name: Jess Hamilton
    desc: Former Program Coordinator, Urban@UW &amp; Urbanalytics Studio     
    socials:
      - link: https://www.linkedin.com/in/jess-hamilton-4b318313
        icon: fa fa-globe
      - link: mailto:jesshami@uw.edu
        icon: fa fa-envelope
  - avatar: images/people/affiliates/sarah_neubauer.jpg
    name: Sarah Neubauer
    desc: Fellow, Data Science for Social Good, UBC
    socials:
      - link: https://ca.linkedin.com/in/sarah-neubauer-b2997a122
        icon: fa fa-globe
  - avatar: images/people/affiliates/rashedul_hoque.jpg
    name: Md Rashedul Hoque
    desc: Fellow, Data Science for Social Good, UBC
  - avatar: images/people/affiliates/orysya_stus.jpg
    name: Orysya Stus
    desc: Fellow, Data Science for Social Good, UW
  - avatar: images/people/affiliates/patricia_angkiriwang.jpg
    name: Patricia Angkiriwang
    desc: Fellow, Data Science for Social Good, UBC
    socials:
      - link: https://www.linkedin.com/in/patricia-angkiriwang/
        icon: fa fa-globe
      - link: http://twitter.com/cautioushopeful
        icon: fa fa-twitter
  - avatar: images/people/affiliates/saeid_allahdadian.png
    name: Saeid Allahdadian
    desc: Fellow, Data Science for Social Good, UBC
    socials:
      - link: https://www.linkedin.com/in/saeid-allahdadian-65140961/
        icon: fa fa-globe
      - link: mailto:allahdadian@gmail.com
        icon: fa fa-envelope
  - avatar: images/people/affiliates/peiyuan_zhu.JPG
    name: Peiyuan (Gary) Zhu
    desc: Fellow, Data Science for Social Good, UBC
    socials:
      - link: http://twitter.com/garyzhubc
        icon: fa fa-twitter
  - avatar: images/people/affiliates/cara_arizmendi.png
    name: Cara Arizmendi
    desc: Fellow, Data Science for Social Good, UW
  - avatar: images/people/affiliates/raphael_roman.jpg
    name: Raphael Roman
    desc: Fellow, Data Science for Social Good, UBC
    socials:
      - link: http://twitter.com/RaphGenf
        icon: fa fa-twitter
  - avatar: images/people/affiliates/qianqian_wu.JPG
    name: Hailey Wu (Qianqian)
    desc: Fellow, Data Science for Social Good, UBC
  - avatar: images/people/affiliates/brett_bejcek.jpg
    name: Brett Bejcek
    desc: Fellow, Data Science for Social Good, UW
    socials:
      - link: https://www.github.com/bmbejcek
        icon: fa fa-globe
      - link: http://twitter.com/brettbejcek
        icon: fa fa-twitter
  - avatar: images/people/affiliates/william_qi.jpg
    name: William Qi
    desc: Fellow, Data Science for Social Good, UBC
    socials:
      - link: http://williamqi.com
        icon: fa fa-globe
        
        
partners:  
  - image: ../images/partners/microsoft.jpg
    link: https://www.microsoft.com/en-us/about
    row: top
  - image: ../images/partners/uw.jpg
    link: http://www.washington.edu/
    row: top
  - image: ../images/partners/ubc.jpg
    link: http://www.ubc.ca/
    row: top
  - image: ../images/partners/urbanalytics.jpg
    link: http://urbanalytics.uw.edu/
    row: bottom
  - image: ../images/partners/ubcdatascience.jpg
    link: http://dsi.ubc.ca/
    row: bottom
  - image: ../images/partners/escience.jpg
    link: http://escience.washington.edu/
    row: bottom
  - image: ../images/partners/ubc-sustainability.jpg
    link: https://sustain.ubc.ca/our-commitment/ubc-sustainability-initiative
    row: bottom
  - image: ../images/partners/urban.jpg
    link: http://urban.uw.edu/
    row: bottom
  - image: ../images/partners/ischool.jpg
    link: https://ischool.uw.edu/
    row: bottom
  - image: ../images/partners/iuts.jpg
    link: http://faculty.washington.edu/banx/iUTS.html
    row: bottom

socials:
  - title: Email
    text: urbandat@uw.edu
    icon_class: fa fa-envelope
    link_to: mailto:urbandat@uw.edu
  - title: Twitter
    text: CascadiaData
    icon_class: fa fa-twitter
    link_to: https://twitter.com/CascadiaData

---
{% include banner.html %}
{% include about.html %}
{% include projects.html %}
{% include people.html %}
{% include partners.html %}

