<style>
	#contact{
		color: #000;
		padding: 80px 8px 0 8px;
	}
	#contact .flex{
		display: flex;
	}
	#contact .flex > * {
		width: 50%;
		padding: 8px;
	}
	.social-container{
		display: flex;
		padding-top: 16px;
	}
	.social-container > *{
		margin-right: 8px; 
	}

	footer{
		color: #000;
		padding: 20px 8px;
	}

	@media (max-width: 600px) {
		#contact .flex{
			flex-wrap: wrap;
		}
		#contact .flex > * {
			width: 100%;
			min-height: 300px;
		}
	}
</style>

<section id="contact">
	<div class='row'>
		
		<div class='large-12 columns'>
			{% include section-header.html class="alt" title_style="color: #000;" title="Get Involved" %}
		</div>
		<a id='contact'></a>

		<div class="flex">

			<div>
				<h4>To provide background information about existing research that would benefit from connecting to the CUAC community, please <a href="http://urbanalytics.uw.edu/#about">complete a brief survey</a> via the UW Urbanalytics website. To request access to the CUAC Slack Group, send an email to urbandat@uw.edu. <a href="http://cascadiadata.org/news/2017/08/05/cuac-summit.html">Read this blog post</a> to learn about the following project ideas developed at the CUAC Summit:</h4>

				<ul>
					<li>Tracking Climate Change Targets: Visualization Platform</li>
					<li>Model for Connecting Jurisdictional Data Related to Social Determinants of Health</li>
					<li>Comparative Legal Review: Access to Data, Governance</li>
					<li>Impacts of Transit Corridor Development on Equity, Housing, Gentrification and Future Growth</li>
					<li>Transportation Accessibility and Equity</li>
					<li>Data Science-Enabled “Bottom-Up” Understanding, e.g. Housing, Transportation, Jobs, Social, and Substance Abuse</li>
					<li>Homelessness and Service Availability: Mapping, Comparative Analytics</li>
					<li>Emergency Services (Opioid Epidemic)</li>
					<li>Transportation Modeling: Best Practices and Standards</li>
					<li>Land Parcel Dataset</li>
					<li>International Housing Market Dataset: Supply-Oriented</li>
					<li>Data Consulting for Cities, Inventory, Needs Assessment</li>
				</ul>

				<div class="social-container">
					{% for social in page.socials %}
						<div class='big-social'>
							<a href='{{social.link_to}}'>
								<i class='{{social.icon_class}}'></i>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>


			<div>
				<a class="twitter-timeline" data-height="100%" data-link-color="#F9CE63" href="https://twitter.com/CascadiaData">Tweets by CascadiaData</a>
				<script async src="//platform.twitter.com/widgets.js"></script>
			</div>

		</div>

	</div>
</section>


<footer>
	<div class="row">
		<p>©2017 {{site.title}}. All rights reserved.</p>
	</div>
</footer>



<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.validate.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-61502047-2', 'auto');
	ga('send', 'pageview');
</script>