<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400" rel="stylesheet">
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/global.js"></script>
<style>
	*{
		box-sizing: border-box;	
		transition: all 0.5s
	}
	body{
		margin: 0;
		font-family: 'Quicksand', sans-serif;
		background-color: #e9eaed;
	}
	a{
		text-decoration: none;
		color: #F9CE06;
	}
	.container.styled > h1:first-child{
		font-size: 60px;
		text-align: center;
	}
	.container{
		width: calc(100% - 16px);
		max-width: 1024px;
		margin: 0 auto;
		overflow: hidden;
	}
	.container.styled{
		border: 1px solid #ccc;
		border-width: 0 1px;
		background: #fff;
		padding: 32px 64px;
	}
	.container:first-of-type{
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-top-width: 1px;
	}
	.container:last-of-type{
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-width: 1px;
	}
	@media(max-width: 1040px){
		.container.styled{
			padding: 16px;
		}
	}
</style>