<style>
	#partners .flex{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	#partners .small img{
		width: 204px;
		height: 135px;
	}
</style>
<section id="partners" class="container styled">
	<h1>Partners</h1>
	
	<div class="flex large">
	{% for partner in site.data.partners | limit: 3 %}
		<img src="{{partner.image}}">
	{% endfor %}
	</div>

	<div class="flex small">
	{% for partner in site.data.partners | offset: 3 %}
		<img src="{{partner.image}}">
	{% endfor %}
	</div>
</section>