<style>
	#people .flex, #affiliates .flex{
		display: flex;
		flex-wrap: wrap;
	}
	.person{
		width: calc(20% - 10px);
		margin: 10px 5px;
	}
	.person .picture{
		width: 100%;
		max-width: 150px;
		border-radius: 50%;
		border: 1px solid #999;
		display: block;
		margin: 8px auto;
	}
	.person div{
		width: 100%;
		max-width: 150px;
		margin: 0 auto;
		text-align: center;
	}
	.person .name{
		font-weight: bold;
		font-size: 20px;
	}
	.person .position{
		color: #666;
		margin-bottom: 8px;
	}
	.person .description{
		font-size: 13px;
	}
	.person .socials{
		font-size: 13px;
		margin: 8px auto;
	}
	.person .socials a{
		margin: 0 4px;
		display: inline-block;
	}
	.person .socials img{
		width: 20px;
		height: 20px;
	}
	@media(max-width: 600px){
		#people .flex, #affiliates .flex{
			justify-content: center;
		}
		.person{
			width: 100px;
		}
	}
</style>
<section id="people" class="container styled">
	<h1>Leadership</h1>
	<div class="flex">
		{% for person in site.data.people %}
			<div class="person">
				<img class="picture" src="/images/people/{{person.image}}">
				<div class="name">{{person.name}}</div>
				<div class="position">{{person.position}}</div>
				<div class="description">{{person.description}}</div>
				<div class="socials">
					{% for social in person.socials %}
						<a href="{{social.link}}">
							<img src="/images/site/{{social.type}}.png" alt="{{social.type}}">
						</a>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
</section>
<section id="affiliates" class="container styled">
	<h1>Affiliates</h1>
	<div class="flex">
		{% for person in site.data.affiliates %}
			<div class="person">
				<img class="picture" src="/images/affiliates/{{person.image}}">
				<div class="name">{{person.name}}</div>
				<div class="position">{{person.position}}</div>
				<div class="description">{{person.description}}</div>
				<div class="socials">
					{% for social in person.socials %}
						<a href="{{social.link}}">
							<img src="/images/site/{{social.type}}.png" alt="{{social.type}}">
						</a>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
</section>