---
layout: default

socials:
  - title: Email
    text: urbandat@uw.edu
    icon_class: fa fa-envelope
    link_to: mailto:urbandat@uw.edu
  - title: Twitter
    text: CascadiaData
    icon_class: fa fa-twitter
    link_to: https://twitter.com/CascadiaData

---
{% include banner.html %}
{% include about.html %}
<div class='full no-padding' style='background: #F9CE06; color: #fff' id="projects">
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
       {% include section-header.html title="Projects" class="alt" %}
      <div class='spacing'></div>
    </div>
  </div>
  </div>
  <div class='mod modCallToAction'>
  <a id='projects'></a>
    <div class='row'>
		{% for work in page.works %}
          <a class='boxed button large-12 columns' href='{{work.link_to}}'>
           	<h3 style="display:block;">{{work.title}}</h3>
            <p>{{work.desc}}</p>  
          </a> 
        {% endfor %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>
{% include people.html %}
{% include affiliates.html %}
{% include partners.html %}
