---
layout: default
---

{% include nav.html %}
<link rel="stylesheet" href="/css/project.css">
<section id="project" class="container">
	<main>
		{{content}}
	</main>
	{% if page.participants %}
	<aside>
		<h1>Participants</h1>
		{% for participant_name in page.participants %}
			{% assign image = "/images/site/default-user-image.png" %}
			{% for person in site.data.people %}
				{% if person.name == participant_name %}
					{% assign image = "/images/people/" | append:person.image %}
					{% break %}
				{% endif %}
			{% endfor %}
			{% for affiliate in site.data.affiliates %}
				{% if affiliate.name == participant_name %}
					{% assign image = "/images/affiliates/" | append: affiliate.image %}
					{% break %}
				{% endif %}
			{% endfor %}

			<div class="participant">
				<img src="{{image}}">
				{{ participant_name }}
			</div>
		{% endfor %}
	</aside>
	{% endif %}
</section>